@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light;

  margin: none;
  padding: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #db0000;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }
}

.fixed-bg {
  background-image:
    radial-gradient(#ccc 1px, transparent 1px),
    radial-gradient(#ccc 1px, transparent 1px);
  background-size: 20px 20px;
  background-position:
    0 0,
    10px 10px;
}

@theme {
  --font-ibm: "IBM Plex Mono", monospace;
}

#description::after {
  content: "|";
  color: var(--color-green-600);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
