@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background-color: #abaecd85;
  --background-color-items: black;
  --color-name: #1a1a1a;
  --color-animations: #555;
  --color-text: rgb(237, 237, 237);
  --green: var(--color-green-600);
}

.dark-theme {
  --background-color: #09090bf5;
  --background-color-items: #eaeaea;
  --color-name: #c4c4c4;
  --color-animations: #a1a1aa;
  --color-text: rgb(0, 0, 0);
  --green: var(--color-green-600);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

.fixed-bg {
  background-image:
    radial-gradient(rgba(121, 121, 121, 0.3) 1px, transparent 1px),
    radial-gradient(rgba(121, 121, 121, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position:
    0 0,
    10px 10px;
}

@theme {
  --font-ibm: "IBM Plex Mono", monospace;
}

#description::after {
  content: "|";
  color: var(--color-green-600);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
